{% block about %}

 <div class="about-section">
  <h1>About Novendsblog</h1>
  <p>Novends blog is a blog developed by novend using django.... to share his music and life experience to the world</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="CEO" style="width:100%">
      <div class="container">
        <h2>Novend</h2>
        <p class="title">CEO</p>
        <p>Hard working and a perfectionist</p>
        <p>nchidinma4@gmail.com</p>
        <button class="button" type="button" onclick="location.href='https://www.instagram.com/Novend_obi/'">Contact<button/>
      </div>
    </div>
  </div>
{% endblock about %}
